name: Test and Validate
on:
  push:
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Test
        run: make test

      - name: Validate
        run: make validate
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: "Set up Go 1.x"
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Check out code
        uses: actions/checkout@v3

      - name: Lint with golanci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # version of golangci-lint to use
          version: v1.50.1
